@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Oxygen+Mono&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

body{
    background-color: #425364;
}

.todo{
    font-family: "Hahmlet", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    border-bottom: 1px solid #004872;
    margin-bottom: 0.5rem; /* 여백 조정 */
}
.todo .mb-3{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.todo .mb-3 .todotextToggle{
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}
.todo .todotextToggle img {
    width: 30px; 
    height: 30px; 
    margin-top: 6px;
}
.todo .text {
    font-size: 1rem;
    /* line-height: 1.5; */
}
.todo button{
    border: none;
    background: none;
    font-size: 20px;
}

  



.createTodo{
    /* font-family: "Rubik Mono One", monospace; */
    /* font-family: "Oxygen Mono", monospace; */
    font-family: "LXGW WenKai Mono TC", monospace;
}
.createTodo h1{
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    /* color: white; */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: 400;
}
.createTodo .content{
    display: flex;
    justify-content: center;
}
.createTodo input{
    font-family: "Hahmlet", serif;
    padding: 15px;
    font-size: 15px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 3px 5px 0px rgb(0, 0, 0) ;
    outline: none;
    margin-right: 5px;
}
.createTodo button{
    padding: 10px;
    font-size: 25px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px rgb(0, 0, 0) ;
}

.todoList {
    border: 1px solid #004872;
    border-radius: 10px;
    width: 35%;
    margin: 0 auto;
    height: 700px;
    margin-top: 30px;
    background-color: white;
}

